* {
    font-family: roboto;
    margin: 0;
    padding: 0;
}
.header-section {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0 18vw;
}
header {
    display: flex;
    justify-content: space-between;
}
.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}
.header-list {
    display: flex;
    gap: 8px;
}
.header-link a,
.header-text {
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    text-decoration: none;
}
.header-link {
    list-style-type: none;
}
.header-content {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding: 10vh 0;
}
.header-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 0;
    flex-grow: 1;
    gap: 8px;
}
.header-title {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}
.header-button {
    border: none;
    border-radius: 10px;
    background-color: #3882F6;
    color:#F9FAF8;
    font-weight: bold;
    padding: 8px 24px;
}
.header-image {
    width: 0;
    height: auto;
    flex-grow: 1;
    object-fit: cover;
}
.information-section{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 5vh 0 10vh 0;
}
.information-title {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}
.information-list {
    display: flex;
    gap: 16px;
}
.information-li {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    text-align: center;
}

.information-empanadas,
.information-asado,
.information-pizza,
.information-milanesa {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 3px solid #3882F6;
    border-radius: 10px;
}
.quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh 20vw 10vh 20vw;
    gap: 8px;
}
.quote-quote {
    flex: 1 1 0px;
    font-size: 24px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
}
.quote-undertext {
    flex: 1 1 0px;
    align-self: flex-end;
    font-weight: bold;
}
